{{extend './common/layout.html'}}
{{block 'style'}}
<style>
   #add{
    margin:50px auto;
    text-align: center;
    border: 1px solid rgb(171, 187, 221);
    background: url("/night.gif") repeat;
    width: 500px;
    padding: 30px;
    
} 
span{
    margin-right: 50px;
}
input{
    margin: 30px;
    line-height: 25px;
}
button{
    width: auto;
    color: crimson;
    background: content-box;
}
h4{
    background-color: blanchedalmond;
}
#add{
    position: absolute; 
    float: left;
    width: 69%;
    left: 30%;
    top: 0px;
}
</style>

{{/block}}
{{block 'main'}}
{{include './common/header.html'}}
<div id="add">
    <h4>{{ message }}</h4>
    <a href="/admin/article">返回</a>
    <h3>{{@article && article._id }}</h3>
    <!-- 
        enctype指定表单数据的编码类型
        application/x-www-form-urlencoded
            name=zhangsan%age=13
        multipart/form-data将表单数据编码成二进制类型
        一切为了上传文件哇
     -->
    <form action="{{link}}" method="POST" enctype="multipart/form-data">
        <span>标题：</span>
        <input style="color:black;" name="articlename" placeholder="请输入标题" value="{{article && article.articlename}}">
        <br>
        <span>作者：</span>
        <input style="color:black;" name="author" type="text" value="{{@userInfo._id}}">
        <br>
        <span>发布时间：</span>
        <input style="color:black;" name="publishdate" type="date" placeholder="请输入发布日期" value="{{article && article.publishdate}}">
        <br>
        <span>文件：</span>
        <!-- mutiple代表可以选择多个文件
        这里我们不需要
        -->
        <input style="color:black;" id="file" name="article" type="file" placeholder="请选择上传文件">
        <img src="" id="preview">
        <br>
        <span>内容：</span>
        <textarea style="color:black;" rows="5" cols="20" name="description" type="text" value="{{article && article.description}}">
        </textarea>
        <br>
        <button type="submit" >{{button}}</button>
    </form>
</div>
{{/block}}
{{block 'script'}}
    <script type="text/javascript">

    var file = document.querySelector('#file');
    var pr = document.querySelector('#preview');

    file.onChange = function() {
        //1.创建文件读取对象
        var reader = new FileReader();
        //用户选择的文件列表
        //console.log(this.files[0]);
        //2.读取文件
        reader.readAsDataURL(this.files[0]);
        //3.监听onload事件
        reader.onload = function(){
            
            console.log(reader.result);
            //将文件读取的结果输出
            pr.src = reader.result;
        }
    }
    </script>
    {{/block}}